.Contact {
  height: 100vh;
}
.Contact--BG {
  background: url('../../static/images/BackgroundImage.png');
  background-size: 125%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.Contact--Logo--Container {
  height: 30vh;
  padding: 25% 0 0 0;
}
.Contact--Card {
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

.Contact--Details {
  margin-top: 3rem;
}

.Contact--Details--Item {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid var(--lightGrey);
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
}

.Contact--Details--Item:hover,
.Contact--Details--Item:focus {
  color: var(--primary);
}

.Contact--Details--Item svg {
  margin-right: 1.5rem;
  color: var(--primary);
}
@media (max-width: 768px) {
  .Contact--Logo--Container {
    max-width: 100px !important;
    padding: 5% 0 0 0;
  }
}

@media (max-width: 600px) {
  .desktop-only {
    display: none;
  }
  .Contact--Section1--Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Contact--Section1--Container > * {
    width: calc(50% - 2rem);
  }
  .Contact--BG {
    background: url('../../static/images/BackgroundImage.png');
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .Contact--Logo--Container {
    max-width: 100px !important;
    padding: 5% 0 0 0;
  }
}
